<template>
    <div v-show="visible && dActive">
        <slot></slot>
    </div>
</template>

<script>
export default {
    name: 'Tab',
    data: function () {
        return {
            dActive: this.active
        }
    },
    props: {
        name: { required: true },
        active: { default: false },
        icon: { default: false },
        visible: { default: true }
    },
    watch: {
        visible: function (newValue) {
            this.$parent.updateVisible();
        }
    }
}
</script>

<style scoped>
</style>
