<template>
		<div >
            <div class="tabs">
                <ul>
                    <li v-for="(tab, index) in tabs" :key="tab.id" v-show="tab.visible" 
                        :class="{ 'active': tab.dActive }" @click="selectTab(index)">
                        <span /> {{tab.name}}
                    </li>
                </ul>
            </div>	
            <div class="content">
                <slot/>
            </div>				 
		</div>
</template>

<script>

export default {
    name: 'Tabs',
    data: function() {
        return {
            tabs: []
        }
    },
    created: function() {
        this.tabs = this.$children;
    },
    mounted: function() {
        this.setActive();
    },
    methods: {
        selectTab: function(index) {
            this.tabs.forEach(function(tab, i) {
                tab.dActive = (i === index)
            })
        },
        setActive: function () {
            var activated = false, i;
            for (i = 0; i < this.tabs.length; i++) {
                this.tabs[i].dActive = false;

                if (this.tabs[i].visible && !activated) {
                    this.tabs[i].dActive = true;
                    activated = true;
                }
            }
        },
        updateVisible: function (tab) {
            var i, selectedTab = null;
            for (i = 0; i < this.tabs.length; i++) {
                if (this.tabs[i].dActive && this.tabs[i].visible) {
                    selectedTab = i;
                }
            }

            if (selectedTab === null) {
                this.setActive();
            }
        },
    }
}
</script>

<style lang="scss" scoped>
$activeColor: #ffffff;
$unactiveColor: #eeeeee;
$unactiveHoverColor: #dddddd;

.content {
    padding-top: 60px;
    padding-left: 5px;
}

.tabs { 
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        cursor: pointer;
        float: left;
        padding: 15px 25px;
        border: 1px solid #ddd;
        border-bottom: 0;
        background: $unactiveColor;
        color: #444;
        &:hover {
          background: $unactiveHoverColor;
        }
        &.active {
          background: $activeColor;
        }
      &:not(:last-child) label {
         border-right-width: 0; 
      }
    }
  }
}
</style>
