<template>
  <div id="app" @update:visible="log">
    <tabs>
        <tab name="Первый" :visible="visible">Первый</tab>
        <tab name="Второй">Второй</tab>
        <tab name="Третий">Третий</tab>
        <tab name="Четвертый">Четвертый</tab>
    </tabs>
  </div>
</template>

<script>
import Tabs from './components/Tabs.vue'
import Tab from './components/Tab.vue'

export default {
  name: 'app',
  data: () => ({
    visible: false
  }),
  components: {
    Tabs,
    Tab
  }
}
</script>

